name: Windows Release
on:
  push:
    tags:
      - "v*" # Triggers when you push a tag like v1.0.0

jobs:
  build-windows:
    permissions:
      contents: write
    runs-on: windows-latest

    steps:
      - name: checkout the repo
        uses: actions/checkout@v4

      - name: node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: rust
        uses: dtolnay/rust-toolchain@stable

      - name: install frontend deps
        run: npm install

      - name: Build and Upload
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__
          releaseName: "App v__VERSION__"
          releaseDraft: true
          prerelease: false
